qtstm32/widget.cpp
qtstm32/widget.cpp
qtstm32/widget.h
qtstm32/.qtcreator/qtstm32.pro.user
qtstm32/build/Desktop_Qt_6_11_1-Debug/main.o
qtstm32/build/Desktop_Qt_6_11_1-Debug/moc_widget.o
qtstm32/build/Desktop_Qt_6_11_1-Debug/qtstm32
qtstm32/build/Desktop_Qt_6_11_1-Debug/widget.o
qtstm32/
